@charset "utf-8";
/* CSS Document */
#whoWeAre{
	background-image:url(../../images/whoWeAre/bg.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	width:100%;
	position:relative;
	top:0px;
	left:0px;
	overflow:hidden;
}
#whoWeAre #innerScroller{
	position:absolute;
	left:0px;
	top:0px;
}
#whoWeAre #innerScroller .content{
	width:640px;
	top:0px;
	z-index:10;
	display:block;
	float:left;
	position:relative
}
#whoWeAre ul{
	display:block;
	width:100px;
	height:100px;
	position:absolute;
	left:31px;
	top:460px;/* override by javascript*/
	width:576px;
	height:201px;
	margin:0px;
	padding:0px;
}
#whoWeAre ul li{
	display:block;
	list-style:none;
	list-style-type:none;
	
	text-align:left;

	background-color:rgba(0,0,0,0.3);
	background-image:url(../../images/arrowR.png);
	background-position:540px center;
	background-repeat:no-repeat;
	
	border:#fff 1px solid;
	
	border-radius:8px;
	-webbit-border-radius:8px;	
	-moz-border-radius:8px;
	-o-border-radius:8px;
	width:430px;
	margin:0px 0px 12px 0px;
	cursor:pointer;
}
#whoWeAre #tit1{
	font-size:50pt;
	line-height:100%;
	margin-bottom:25px;
	width:530px;
	padding:30px 22px 15px 22px;	
}
#whoWeAre #tit2{
	font-size:26pt;
	line-height:180%;
	margin-bottom:25px;
	width:530px;
	padding:15px 22px 6px 22px;
}
#whoWeAre .textScroll2 p{
	font-size:20pt;
	line-height:160%;	
}