@charset "utf-8";
/* CSS Document */
/* content area */
#contentArea{
	width:auto;
	max-width:1900px;
	z-index:0;
	position:relative;
	padding:10px;	
}
#menuSpacer{
	height:inherit;
	width:179px;
	float:left;
}
/* content area > filter Area */
#filterArea{
	height:28px;
	width:auto;
	min-width:700px;
	padding:8px 0px;		
}
/* content area > filter Area > bookies*/
#bookies{
	height:26px;
	border:#666 1px solid;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	padding:0px 5px;
	width:auto;
	min-width:80px;
	float:left;
	cursor:pointer;
	background:url(../images/contents/dropDownBG.gif) repeat-x;
	background-position:top;
	margin:0px 1px 0px 0px;
	overflow:visible;
	position:relative;
}
#bookies span{
	color:#000;
	font-size:11px;/* ver 2 amended */
	-webkit-text-shadow: 1px 1px #ddd;
	-moz-text-shadow: 1px 1px #ddd;
	-ms-text-shadow: 1px 1px #ddd;
	-o-text-shadow: 1px 1px #ddd;
	text-shadow: 1px 1px #ddd;
	height:26px;
	line-height:26px;
	white-space:nowrap;
	padding:0px 25px 0px 0px;
	background:url(../images/contents/dropdownIcon.gif) no-repeat;
	background-position: 100% 50%;
	display:block;
	
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
}
#bookies:hover{
	background-position:50%;
}
#bookies:hover span{/* ver 2 added */
	color:#fff;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	-ms-text-shadow: none;
	-o-text-shadow: none;
	text-shadow: none;
}
#bookies .dropMenu{	
	width:auto;
	border:none;
	background:none;	
	position:absolute;
	display:none;	
	left:-1px;
	top:27px;
	overflow:visible;
	padding:0px;
	z-index:9999;
	background:#096;
	height:7px;
}
#bookies .dropMenu .arrow{
	background:url(../images/contents/borkage_bookie_arrow.gif);
	width:15px;
	height:8px;
	position:absolute;
	left:38px;
	overflow:visible;
	z-index:10000;
}
#bookies .dropMenu  .dropMenu2{
	position:absolute;
	left:-28px;
	top:7px;
	z-index:9999;
	
	border: #666 1px solid;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-0-border-radius:3px;
	background:#b3b3b3 url(../images/contents/borkage_bookie_bg.gif) repeat-x top;
	padding:5px 3px 0px 5px;
	display:none;
	
	box-shadow: 2px 2px 4px rgba(0,0,0,.6);
}
#bookies .dropMenu  .dropMenu2 .bookieName{
	width:140px;
	height:26px;	
	margin:0px 0px 5px 0px;	
}
#bookies .dropMenu .dropMenu2 .bookieName2{
	display:block;
	background: url(../images/contents/borkage_bookie_label_BG.gif) repeat-x;
	background-position:top;
	border: #666 1px solid;	border-radius:3px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-0-border-radius:2px;
	height:24px;
	cursor:pointer;
	float:left;
	width:80px;
}
#bookies .dropMenu  .dropMenu2 .bookieName2:hover{
	background-position:left 50%;
}
#bookies .dropMenu  .dropMenu2 .bookieName2 div{
	height:24px;
	width:18px;
	float:left;
}
#bookies .dropMenu  .dropMenu2 .bookieName2 div input{
	margin:6px 0px 0px 2px;
	cursor:pointer;
}
#bookies .dropMenu  .dropMenu2 .bookieName2 label{
	font-size:11px;
	line-height:24px;
	float:left;
	color:#fff;
	width:60px;
	overflow:hidden;
	cursor:pointer;
}
#bookies .dropMenu .dropMenu2 .deselected{
	background-position:bottom;
}
#bookies .dropMenu .dropMenu2 .deselected label, #bookies .dropMenu  .dropMenu2 .bookieName2:hover label{
	color:#666
}
#bookies .dropMenu .btnUp, #bookies .dropMenu .btnDown{
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-0-border-radius:2px;
	height:24px;
	width:24px;
	border:#666 1px solid;
	float:left;
	margin:0px 0px 0px 2px;
	background:url(../images/contents/borkage_bookie_label_BG.gif) repeat-x;
	background-position:left bottom;
}
#bookies .dropMenu .btnUp:hover, #bookies .dropMenu .btnDown:hover{
	background-position:left 50%;
}
#bookies .dropMenu .btnUp div{
	width:inherit;
	height:inherit;
	background:url(../images/contents/borkage_bookie_btnUp.gif) no-repeat 50% 50%;	
}

#bookies .dropMenu .btnDown div{
	width:inherit;
	height:inherit;
	background:url(../images/contents/brokage_bookie_btnDown.gif) no-repeat 50% 50%;	
}

/* end of content area > filter Area > bookies*/
/* end of content area > filter Area */
/* content area > tableArea */
#tableArea{
	border:#666 1px solid;
	border-top: none;
	height:auto;
	min-width:700px;
}
/* content area > tableArea > periods*/
/* content area > tableArea > periods > periods head*/
#tableArea .prdHead{
	width: inherit;
	height:27px;
	line-height:27px;
	border-top:#666 1px solid;
	background: url(../images/contents/prdHead_bg.gif) repeat-x;
	background-position:left top;
	cursor:pointer;	
}
#tableArea .prd{
	width: inherit;
}
#tableArea .prdHead:hover{
	background-position:left bottom;
}
#tableArea .prdHead span{
	font-size:11px;
	color:#fff;
	height:27px;
	line-height:27px;
	float:left;
	margin-left:12px;
}
#tableArea .prdHead #prd_collapseBTN{
	width:21px;
	height:27px;
	float:right;
	margin-right:6px;
	background:url(../images/contents/head_collapseBTN.gif) no-repeat;	
	background-position:left bottom;
}
#tableArea .prdHead:hover #prd_collapseBTN{
	background-position:right bottom;
}
#tableArea .prdHead #prd_collapseBTN.collapsed{
	background-position:left top;
}
#tableArea .prdHead:hover #prd_collapseBTN.collapsed{
	background-position:right top;
}
/* end of content area > tableArea > periods > periods head*/
/* content area > tableArea > periods > periods body */
/* content area > tableArea > periods > periods body> leagues */
/* content area > tableArea > periods > periods body> leagues > leagues head*/
.legHead{
	//width:100%;
	height:18px;
	background:url(../images/contents/legHeadBG.gif) repeat-x;
	border-top:#666 1px solid;
}
.legHead span{
	color:#000;
	font-size:11px;
	height:18px;
	line-height:18px;
	font-weight:bold;
	padding-left:16px;	
}
.legHead #removeBTN{
	width:18px;
	height:18px;
	background:url(../images/contents/removeBTN.gif) no-repeat left top;
	float:right;
	cursor:pointer
}
.legHead #removeBTN:hover{
	background:#baa73b url(../images/contents/removeBTN.gif) no-repeat left bottom;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
/* end of content area > tableArea > periods > periods body> leagues > leagues head */

/* content area > tableArea > periods > periods body> leagues > contentTable */
.contentTable{
	width:100%;
	margin:0px;
	padding:0px;
	min-width:679px;
}
.contentTable .redCard{
	padding:2px 3px;
	background-color:#9e0b0f;
	color:#fff
}

.contentTable th, .contentTable td{
	//white-space:nowrap;	
	vertical-align:top;	
	border-left:#666 1px solid;	
	padding:3px;
	margin:0px;
}
#tableArea .col1{
	min-width:66px;
	border-top:#666 1px solid;
	border-left: none;	
}
#tableArea th.col1{
	font-weight:normal;
	text-align:left;
}
#tableArea td.col1{
	background:#cccccc
}
#tableArea .live td.col1{
	background:#f4d1c8
}
#tableArea .col2{
	min-width:170px;
	border-top:#666 1px solid;
}
#tableArea th.col2{
	font-weight:normal;
	text-align:left;
}
#tableArea td.col2{
	background:#cccccc
}
#tableArea .live td.col2{
	background:#f4d1c8
}
#tableArea td.col2 .chiTXT{
	font-family: 'DFHeiHK', '微軟正黑體', 'Microsoft JhengHei', 'Arial Unicode MS'; arial;	
}

#tableArea td.col2 .homeTeam{
	color:#57570e;
	font-weight:bold;
}
#tableArea th.colBookie{
	width:100px;
	border-top:#666 1px solid;
}
#tableArea td.colBookie{
	width:100px;
	padding:0px;
}
.contentTable .colBookie table{
	margin:3px 5px;
	width:100px;	
	margin:auto;
}
.contentTable .colBookie table td{
	border:none;
	margin:0px;
	padding:0px;
	width:100%;
}
.contentTable .colBookie table .innCol1{
	text-align:left;
	font-weight:bold;
	width:25%;
}
.contentTable .colBookie table .innCol2{
	text-align:center;
	font-weight:bold;
	color:#993300;
}
.contentTable .colBookie table .innCol3{
	text-align:right;
	width:50%;
	padding-left:2px;
	padding-right:2px;
}

#tableArea th.colEmpty{
	min-width:673px;
	border-top:#666 1px solid;
}

#tableArea tr.matchTop > td{
	border-top:#666 1px solid;
}

#tableArea tr.mktTop > td{
	border-top:#a9a9a9 1px solid;
}


/* betSlip Window*/
.betSlipFrame{
	position:absolute;
	z-index:10000;
	width:440px;
	height:450px;
	padding:25px 10px 10px 10px;
	border:0px;
	background:#fff;
	box-shadow: 2px 2px 15px rgba(0,0,0,.6);
	border-radius:5px;
	cursor:move;
	display:none;
}

.betSlipFrame .closeBTN{
	background:url(../images/contents/removeBTN.gif);
	background-position:top;
	width:18px;
	height:18px;
	cursor:pointer;
	float:right;
	position:absolute;
	right:2px;
	top:2px;
	overflow:hidden;	
	border-radius:4px;
}
.betSlipFrame .closeBTN:hover{
	background:#cbb747 url(../images/contents/removeBTN.gif);
	background-position:bottom;
}
.betSlipFrame .spacer{
	width:440px;
	height:400px;
	display:none;
	background-color:#CCC
}
.betSlipFrame iframe{
	width:440px;
	height:430px;
	border:0px;
}
/* betSlip Window end*/

#tableArea .colUp{
	background-color:#5acb16;
}
#tableArea .colDown{
	background-color:#f52d37;	
}

.contentTable .infoBar{
	background:#999;
	font-size:11px;
	color:#414141;
	margin:0px;
	padding:3px;
	height:18px;
	line-height:18px;
}
.contentTable .matches{
	background:#ccc;
	font-size:11px;
	color:#000;
	margin:0px;
	padding:3px;
	height:18px;
	line-height:18px;
	border-top:#666 1px solid;
}
/*.contentTable .matches:hover{
	background:#eee;
}*/
.contentTable.live .matches{
	background:#f4d1c8;
}
/*.contentTable.live .matches:hover, .contentTable.live .matches.oddRoll:hover{
	background:#fbb4a0;
}*/
.contentTable .matches.oddRoll{
	background:#bebebe
}
.contentTable.live .matches.oddRoll{
	background:#e9c2b8
}

.contentTable .matches a{
	text-decoration: none;
	color:#06C;	
}
.contentTable .matches a:hover{
	text-decoration: underline;
	color: #036; //#09F;/* ver 1.3.1 amended */		
}
.contentTable #removeBTN{
	width:18px;
	height:18px;
	background:url(../images/contents/removeBTN.gif) no-repeat left top;
	float:right;
	cursor:pointer
}
.contentTable #removeBTN:hover{
	background:#bbb url(../images/contents/removeBTN.gif) no-repeat left bottom;/* ver 1.3.1 amended */
	//background:#aaa url(../images/contents/removeBTN.gif) no-repeat left bottom;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.contentTable.live #removeBTN:hover{
	background:#ee8f77 url(../images/contents/removeBTN.gif) no-repeat left bottom;/* ver 1.3.1 amended */		
	//background:#e8ac9c url(../images/contents/removeBTN.gif) no-repeat left bottom;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
/* end of content area > tableArea > periods > periods body> leagues > contentTable*/
/* end of content area > tableArea > periods > periods body> leagues */
/* end of content area > tableArea > periods > periods body */
/* end of content area > tableArea > periods*/
/* end of content area > tableArea */
/* content area > footer */
#footerTerms{	
	width:671px;
	height:auto;
	color:#666;
	margin:20px auto 5px auto;
}
/* end of content area > footer */
/* end of content area */
