@charset "utf-8";
/* CSS Document */
/* common UI > dropdown menu */
.dropDown{
	height:26px;
	border:#666 1px solid;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	padding:0px 5px;
	width:auto;
	min-width:80px;
	float:left;
	cursor:pointer;
	background:url(../images/contents/dropDownBG.gif) repeat-x;
	background-position:top;
	margin:0px 1px 0px 0px;
	overflow:visible;
	position:relative;
}
.dropDownMini{
	height:20px;	
	padding:0px 3px;
	width:auto;
	min-width:30px;
	float:left;
	//background:url(../images/contents/dropDownBG.gif) repeat-x;
	//background-position:top;
	margin:0px 1px 0px 0px;
}


.dropDown span{
	color:#000;
	font-size:11px;/* ver 2 amended */
	-webkit-text-shadow: 1px 1px #ddd;
	-moz-text-shadow: 1px 1px #ddd;
	-ms-text-shadow: 1px 1px #ddd;
	-o-text-shadow: 1px 1px #ddd;
	text-shadow: 1px 1px #ddd;
	height:26px;
	line-height:26px;
	white-space:nowrap;
	padding:0px 25px 0px 0px;
	background:url(../images/contents/dropdownIcon.gif) no-repeat;
	background-position: 100% 50%;
	display:block;
	
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
}
.dropDownMini span{
	height:20px;
	line-height:20px;
	padding:0px 13px 0px 0px;
}
.dropDown:hover{
	background-position:50%;
}
.dropDown:hover span{/* ver 2 added */
	color:#fff;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	-ms-text-shadow: none;
	-o-text-shadow: none;
	text-shadow: none;
}

.dropDownDisabled{
	cursor:default;
	background-position:bottom;
	border:#777 1px solid;
}
.dropDownDisabled span, .dropDownDisabled:hover span{
	color: #555;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	-ms-text-shadow: none;
	-o-text-shadow: none;
	text-shadow: none;
}
.dropDownDisabled:hover{
	background-position:bottom;
}
/* common UI > dropdown menu > submenu */
.dropDown .dropMenu{
	width:auto;
	min-width:100%;
	position:absolute;
	left:-1px;
	top:27px;
	display:none;
	background:#eee;
	background:rgba(255,255,255,.9);
	padding:0px;
	border:#999 1px solid;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;	
	z-index:9999;
}
.dropDownMini .dropMenu{
	left:-1px;
	top:21px;
	min-width:50px;
}

/*//mode B only
.dropDown:hover .dropMenu{
	display:block;
}
.dropDown .dropMenu.totalHide{
	display:none;
}*/
.dropDown .dropMenu ul{
	display:block;
	padding:0px;/* ver 2 amended */
	margin:0px;/* ver 2 amended */
	list-style:none;
	list-style-type:none;		
}
.dropDown .dropMenu li{
	display:block;
	color:#000;
	font-size:11px;
	height:26px;
	line-height:26px;
	white-space:nowrap;
	padding:2px 4px;/* ver 2 amended */
	margin:0px;	/* ver 2 amended */
	border-bottom:#bbb 1px solid;
	
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
}
.dropDownMini .dropMenu li{
	font-size:11px;
	height:20px;
	line-height:20px;



}


.dropDown .dropMenu li:hover{/* ver 2 amended */
	//text-decoration:underline;
	//color:#a2912b;
	background:#c6ba71;
}
.dropDown .dropMenu li:last-child{
	border-bottom:none;
}
/* end ofcommon UI > dropdown menu > submenu */
/* end of common UI > dropdown menu */