@charset "utf-8";
/* CSS Document */
#termsBox.lightBox .postAdjust{
	width:444px;
	height:240px;
}
#termsBox.lightBox .contentBox{
	width:888px;
	height:480px;
}
#termsBox.lightBox .contentBox2{
	height:400px;
	width:888px;
	top:15px;
}
#termsBox.lightBox #btnGroup{
	left:15px;
	bottom:20px;
	width:auto;	
}
#termsBox.lightBox #btnGroup #acceptBTN{
	margin-right:5px
}

/*set forgey passowrd question*/
.contentQ{
	padding:10px 35px;
}
.contentQ h3{
	font-size:20px;
	font-weight:normal;
	padding:0px;
	margin:0px 0px 10px 0px;
	color:#a69a4f;	
}
.contentQ p{
	font-size:11px;
}
.contentQ table{
	font-size:11px;
	padding-top:20px;
}
.contentQ table .colA{
	width: 110px;
}
.contentQ table .colB{
	width: 160px;
}
.contentQ table .errorMessage{
	color:#b34690;
}
.contentQ table td{
	padding-bottom:8px
}
.contentQ #confirmBTN{
	margin:20px 0px 0px 0px;
}
