@charset "utf-8";
/* CSS Document */
#faqs{
	background-image:url(../images/faqs/bg.jpg); 
	background-position: left top; /* override by js */
	background-repeat:no-repeat;
	width:100%;
	position:relative;
	top:0px;
	overflow:hidden;
}
#faqs #innerScroller{
	position:absolute;
	left:0px;
	top:0px;
}
#faqs #innerScroller .content{
	width:640px;
	top:0px;
	z-index:10;
	display:block;
	float:left;
	position:relative;	
}

#faqs #content1 h2{
	display:block;
	position:relative;
	width:574px;
	padding:0px;
	margin:95px auto 0px auto; /* margin-top override by js */
	font-size:35pt; /* override by js */
}
#faqs #content1 ul#p1menu{
	display:block;
	position:absolute;
	left:33px; 
	top:179px; /* override by js */
	width:574px;
	height:190px;
	margin:0px;
	padding:0px;
}
#faqs #content1 ul#p1menu li{
	display:block;
	list-style:none;
	list-style-type:none;
	
	padding:25px 55px 15px 25px; //padding:0px 55px 0px 25px;;	
	width:494px; 

	border-radius:100px;
	-webbit-border-radius:100px;	
	-moz-border-radius:100px;
	-o-border-radius:100px;
	
	margin:0px 0px 11px 0px;
	cursor:pointer;
	font-size:28pt; /* override by js */ 	 
	background:rgba(0,0,0,0.7) url(../images/arrowR.png) no-repeat 95% 50%;
	
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}
#faqs #content2 article ul{
	display:block;
	margib:0px;
	padding:0px;
	list-style:none;
	list-style-type:none;
}
#faqs #content2 article ul li{
	display:block;
	margin:0px 0px 20px 0px;
}
#faqs #content2 article ul li h4{
	display:block;
	margin:0px;
	padding:15px 50px 8px 8px;
	border:#000 1px solid;
	border-radius:8px;
	cursor:pointer;
	background: url(../images/closeBG.gif) 550px 50% no-repeat;	
	
	-webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
#faqs #content2 article ul li h4.open{
	background:#ccc url(../images/openBG.gif) 550px 50% no-repeat;
}
#faqs #content2 article ul li > div{
	padding:12px 20px;
	display:none;
}