@charset "utf-8";
/* CSS Document */
.txtField{
	font-size:20pt;
	padding:17px 12px 10px 12px;
	border:#000 1px solid;
	border-radius:8px;
	margin:0px 0px 20px 0px;
	outline:0;
}
.txtField::-webkit-input-placeholder{
	color:#000;
}
.txtField:-moz-placeholder{
	color:#000;
}
.txtField:-ms-input-placeholder{
	color:#000;
}
.txtField:focus::-webkit-input-placeholder{
	color:#ccc;
}
.txtField:focus:-moz-placeholder{
	color:#ccc;
}
.txtField:focus:-ms-input-placeholder{
	color:#ccc;
}
ul.switch{
	display:block;
	width:575px;
	list-style:none;
	list-style-type:none;
	border:#000 1px solid;
	border-radius:8px;
	overflow:hidden;
	margin:0px 0px 20px 0px;
}
ul.switch li{
	display:block;
	text-align:center;
	width:33.2%;
	background:#fff;
	font-size:20pt;
	float:left;
	padding:16px 0px 8px 0px;
	cursor:pointer;
	
	-webkit-user-select: none;  // Chrome all / Safari all
	-moz-user-select: none;     // Firefox all
	-ms-user-select: none;      // IE 10+
	-o-user-select: none;
	user-select: none;
}
ul.switch li:not(:last-child){
	border-right:#000 1px solid;
}
ul.switch li.selected{
	background:#602d04;
	color:#fff;
}
div.dropDown{
	width:575px;
	padding:0px;
	border:#000 1px solid;
	border-radius:8px;
	margin:0px 0px 20px 0px;
	background:#fff url(../images/arrowDown.png) no-repeat 530px 50%;
	cursor:pointer;
	overFlow:hidden;
}
div.dropDown > select{
	width:610px;
	padding:16px 12px 8px 12px;
	background:none;
	border:none;
	font-size:20pt;
	line-height:200%;
	outline:0;
}
ul.toggle{
	display:block;
	width:255px;
	list-style:none;
	list-style-type:none;
	border:#000 1px solid;
	border-radius:8px;
	overflow:hidden;
	margin:0px 0px 20px 0px;
}
ul.toggle li{
	display:block;
	text-align:center;
	width:127px;
	background:#fff;
	font-size:20pt;
	float:left;
	padding:16px 0px 8px 0px;
	cursor:pointer;
	
	-webkit-user-select:none;  // Chrome all / Safari all
	-moz-user-select:none;     // Firefox all
	-ms-user-select:none;      // IE 10+
	-o-user-select:none;
	user-select:none;
}
ul.toggle li:not(:last-child){
	border-right:#000 1px solid;
}
ul.toggle li.selected{
	background:#602d04;
	color:#fff;
}
.checkBox{
	margin:0px 0px 20px 0px;
	height:75px;
	position:relative;
}
.checkBox span{
	display:block;
	font-size:14pt;
	line-height:18pt;
	width:500px;
	float:left;
}
.checkBox > div{
	width:45px;
	height:45px;
	background:url(../images/checkBoxBG.png) no-repeat top;
	position:absolute;
	right:16px;
	top:16px;
	cursor:pointer;
	
	-webkit-user-select:none;  // Chrome all / Safari all
	-moz-user-select:none;     // Firefox all
	-ms-user-select:none;      // IE 10+
	-o-user-select:none;
	user-select:none;
}
.checkBox> div.selected {
	background:url(../images/checkBoxBG.png) no-repeat bottom;
}
.submitButton, .resetButton{
	border-radius:8px;
	padding:15px 12px 9px 12px;
	float:left;
	cursor:pointer;
}
.submitButton{
	color:#fff;
	background:#000;
	margin:0px 18px 30px 0px;
}
.resetButton{
	color:#000;
	background:#999;
	margin:0px;
}
