 @charset "utf-8";
/* CSS Document */
div, p, a, li, td { -webkit-text-size-adjust:none; }
@font-face {
	font-family: 'Conv_din';
	src: url('../fonts/din.eot');
	src: local('☺'), url('../fonts/din.woff') format('woff'), url('../fonts/din.ttf') format('truetype'), url('../fonts/din.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	margin:0px;
	background:#666
}
*{
	font-family:'Conv_din','Century Gothic',Sans-Serif;	 
	//-webkit-text-size-adjust:none;
}
#infoBox{
	position:absolute;
	width:100px;
	padding:20px;
	background:rgba(0,100,200,0.4);
	color:#fff;
	font-size:30px;
	z-index:10000;
	left:270px;
	top:150px;
	text-align:center;
	display:none;
}
#wrapper{
	position:relative;
	width:640px;
	overflow:hidden;
	background: #000;
	margin:auto;	
}
#alertLB{
	width:640px;
	position:absolute;
	background: rgba(0,0,0,0.8);
	left:0px;
	top:0px;
	z-index:1000;
	display:none;
}
#alertLB > div{
	width:266px;
	height:189px;
	position:absolute;
	left:50%;
	top:50%;
}
#alertLB > div > div{
	width:472px;
	height:318px;
	background:#fff;
	border-radius:20px;
	position:absolute;
	left:-100%;
	top:-100%;
	padding:30px;
}
#alertLB #scrollArea{
	width:472px;
	height:250px;
	padding:0px;
	margin:0px 0px 20px 0px;
	overflow:auto;
}
#alertLB #scrollArea > div{
	width:452px;
	font-size:20pt;
	padding:0px;
	margin:0px 0px 10px 0px;
	font-size:20pt;
}
#alertLB #closeBTN{
	cursor:pointer;
	background:#000;
	color:#fff;
	border-radius:8px;
	
	font-size:20pt;
	line-height:150%;
	padding: 5px 20px;
	margin:auto;
	width:150px;
	text-align:center;
	position:absolute;
	bottom:30px;
	left:171px;
	
	-webkit-user-select: none; // Chrome all / Safari all 
	-moz-user-select: none; // Firefox all 
	-ms-user-select: none; // IE 10+ 
	-o-user-select: none;
	user-select: none;	
}
#menuBTN, #menuCloseBTN{
	width:50px;
	height:48px;
	background:url(../images/menuBTN.gif) no-repeat;
	position:absolute;
	right:20px;
	top:20px;
	cursor:pointer;
	z-index:100
}
/* main menu*/
#mainMenu{
	width:640px;
	position:absolute;
	background:rgba(46,23,0,.9);
	display:none;
	z-index:101;
	top:0px
}
#mainMenu ul{
	display:block;
	width:100%;
	list-style:none;
	list-style-type:none;
	margin:0px;
	padding:0px;	
	position:absolute;
	top:153px; /* override by javascript*/
	left:97px;
	width:451px;
}
#mainMenu ul li{	
	margin:0px 0px 11px 0px;	
	font-size:20pt;
	line-height:110%;	
	text-align:center;	
	color:#fefefe;
	background:#000;
	
	border-radius:100px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	
	padding:22px 0px 10px 0px; /* padding top, padding bottom override by javascript*/	
	cursor:pointer;
	
	//-webkit-user-select: none; /* Chrome all / Safari all */
	//-moz-user-select: none; /* Firefox all */
	//-ms-user-select: none; /* IE 10+ */
	//-o-user-select: none;
	//user-select: none;  
}
#mainMenu ul li:last-child{	
background:#500202;
}
/* end of main menu*/

#mainNav{
	z-index:90;
	width:1px;
	height:inherit;
	//background:rgba(0,100,100,0.5);
	position:absolute;
	left:0px;
}
#mainNav > div{
	position: absolute;
	width:60px;
	
	left:300px;
	cursor:pointer;
	background-image:url(../images/upArrow.png);
	background-repeat:no-repeat;	
	height:60px; /* override by javascript*/
	background-position:10px 20px; /* override by javascript*/
}
#mainNav > #upArrow{
	top:0px;
}
#mainNav > #downArrow{
	bottom:0px;
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-ms-transform:rotate(180deg);	
}

#scroller{
	position:absolute;
	left:0px;
	top:0px;
}
.pages{
	overflow:hidden;
	float:left;
	color:#fff;
	position:absolute;
	width:640px;
}
.content{
	width:640px;
	background:#fff;
	display:none;
	position:absolute;
}
.menu{
	background:none;
}
.title{
	color:#FFF;	
	position:absolute;
	cursor:pointer;
	-webkit-user-select: none;  // Chrome all / Safari all 
	-moz-user-select: none;     // Firefox all 
	-ms-user-select: none;      // IE 10+ 
	-o-user-select: none;
	user-select: none;  
}
.openBTN{
	width:38px;
	height:38px;
	background-image:url(../../images/openBTN.gif);
	background-repeat:no-repeat;
	cursor:pointer;
	position:absolute;
}


.content .subCloseBTN{
	width:69px;
	height:69px;
	margin:18px 0px;
	float:left;
	cursor:pointer;
	background:url(.../images/arrowL.png) no-repeat center;	
}

.content > h3, .subPage > h4{
	padding:10px 0px 0px 40px;
	margin:18px 0px 0px 20px;
	color:#000;
	font-weight:normal;
	float:left;
	font-size:30pt;
	background-position:0px 15px;	
	background-image:url(../images/arrowL.png);
	background-repeat:no-repeat;
	cursor:pointer;
	width:500px;
}
.content .textScroll{	
	width:640px;
	position:absolute;
	top:110px;
	left:0px;
	overflow:auto;
}
.content .textScroll .textScroll2{
	height:auto;
	color:#000;
	font-size:20pt;
	line-height:160%;
	margin:0px 30px 10px 30px;
	width:580px;
	
}
.content .textScroll .textScroll2 p{
	padding:0px;
	margin:0px 0px 25px 0px;
}
.content .textScroll .textScroll2 h4{
	padding:0px;
	margin:0px;
	font-weight:normal;
	font-size:20pt;
	line-hight:120%;
}
.textScroll2 ul{
	display:block;
	position:relative;
	margin:0px -5px;
	padding:0px;
}
.content .subPage{
	position:absolute;
	left:640px;
	top:0px;
	z-index:20;
	background:#fff;
	width:640px;	
}

#content1 a, .textScroll2 a{
	color:#ba2d88;
	text-decoration:none;
}