@charset "utf-8";
/* CSS Document */
#privileges{
	background-image:url(../images/privileges/bg.jpg); 
	background-position: left top; /* override by js */
	background-repeat:no-repeat;
	width:100%;
	position:relative;
	top:0px;
	overflow:hidden;
}

#privileges #innerScroller{
	position:absolute;
	left:0px;
	top:0px;
}
#privileges #innerScroller .content{
	width:640px;
	top:0px;
	z-index:10;
	display:block;
	float:left;
	position:relative;	
}

#privileges #content1 h2{
	display:block;
	position:relative;
	width:574px;
	padding:0px;
	margin:127px auto 0px auto; /* margin-top override by js */
	font-size:35pt; /* override by js */
}
#privileges #content1 p{
	display:block;
	width:574px;
	margin:3px auto 0px auto;
	font-size:16.5pt; /* override by js */
	line-height:110%; /* override by js */
}

#privileges #content1 ul#p1menu{
	display:block;
	position:absolute;
	left:33px; 
	top:392px; /* override by js */
	width:574px;
	height:190px;
	margin:0px;
	padding:0px;
	//background:rgba(0,0,100,0.5);
}
#privileges #content1 ul#p1menu li{
	display:block;
	list-style:none;
	list-style-type:none;
	
	padding:25px 55px 15px 25px; /* top & bottom override by js */	
	width:494px; 
		
	border-radius:100px;
	-webbit-border-radius:100px;	
	-moz-border-radius:100px;
	-o-border-radius:100px;
		
	margin:0px 0px 12px 0px;
	cursor:pointer;
	font-size:22pt;  /* override by js */
	background:rgba(0,0,0,0.7) url(../images/arrowR.png) no-repeat 95% 50%;
	
	-webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
#privileges a.applynowBTN{
	display:block;
	background:#360404;
	
	border-radius:100px;
	-webbit-border-radius:100px;	
	-moz-border-radius:100px;
	-o-border-radius:100px;
	
	width:550px;
	color:#fff;
	padding:15px 0px;
	
	text-align:center;
	margin:auto;
	cursor:pointer;
	
	-webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
#privileges #content2 > h3{
	font-size:24pt;
	line-height:30pt;
	padding:16px 0px 0px 40px;
}