@charset "utf-8";
/* CSS Document */
#fitGuide{
  position:relative;
}
#fitGuide h3{
  background-position:0px -126px;  
}
#fitGuide #fitGuideBody{
  height:390px;
}
#fitGuide #menArea, #fitGuide #womenArea{
  height:390px;
  width:159px;
  float:left;
}
#fitGuide #menArea #menTitle{
  width:159px;
  height:30px;
  background: url(../images/fitGuide/title.gif) left top;
  margin-bottom:17px;
}
#fitGuide #womenArea #womenTitle{
  width:159px;
  height:30px;
  background: url(../images/fitGuide/title.gif) right top;
  margin-bottom:17px;
}
.fitGuideBTN{
  width:159px;
  height:21px;
  margin-bottom:14px;
  background-image: url(../images/fitGuide/btns.gif);
  cursor:pointer;
}
#fitGuide #menArea #btn1{
  background-position:left 0px;
}
#fitGuide #menArea #btn1:hover, #fitGuide #menArea #btn1.active{
  background-position:right 0px;
}
#fitGuide #menArea #btn2{
  background-position:left -19px;
}
#fitGuide #menArea #btn2:hover, #fitGuide #menArea #btn2.active{
  background-position:right -19px;
}
#fitGuide #menArea #btn3{
  background-position:left -38px;
}
#fitGuide #menArea #btn3:hover, #fitGuide #menArea #btn3.active{
  background-position:right -38px;
}
#fitGuide #menArea #btn4{
  background-position:left -57px;
}
#fitGuide #menArea #btn4:hover, #fitGuide #menArea #btn4.active{
  background-position:right -57px;
}
#fitGuide #menArea #btn5{
  background-position:left -76px;
}
#fitGuide #menArea #btn5:hover, #fitGuide #menArea #btn5.active{
  background-position:right -76px;
}
#fitGuide #womenArea #btn6{
  background-position:left -95px;
}
#fitGuide #womenArea #btn6:hover, #fitGuide #womenArea #btn6.active{
  background-position:right -95px;
}
#fitGuide #womenArea #btn7{
  height:33px;
  background-position:left -114px;
}
#fitGuide #womenArea #btn7:hover, #fitGuide #womenArea #btn7.active{
  background-position:right -114px;
}
#fitGuide #womenArea #btn8{
  background-position:left -147px;
}
#fitGuide #womenArea #btn8:hover, #fitGuide #womenArea #btn8.active{
  background-position:right -147px;
}
#fitGuide #womenArea #btn9{
  background-position:left -166px;
}
#fitGuide #womenArea #btn9:hover, #fitGuide #womenArea #btn9.active{
  background-position:right -166px;
}
#fitGuide #womenArea #btn10{
  background-position:left -185px;
}
#fitGuide #womenArea #btn10:hover, #fitGuide #womenArea #btn10.active{
  background-position:right -185px;
}
#fitGuide #womenArea #btn11{
  background-position:left -204px;
}
#fitGuide #womenArea #btn11:hover, #fitGuide #womenArea #btn11.active{
  background-position:right -204px;
}
#fitGuide #womenArea #btn12{
  background-position:left -223px;
}
#fitGuide #womenArea #btn12:hover, #fitGuide #womenArea #btn12.active{
  background-position:right -223px;
}
#fitGuide #womenArea #btn13{
  background-position:left -242px;
}
#fitGuide #womenArea #btn13:hover, #fitGuide #womenArea #btn13.active{
  background-position:right -242px;
}
#fitGuide #imgArea{
  width:461px;
  height:390px;
  float:left;
  position:relative;
}
.imgUnit{
  width:461px;
  height:390px;
  position:absolute;
  background:#f7f7f7 url(../images/loading.gif) 50% 50% no-repeat;
}