@charset "utf-8";
/* CSS Document */
#nav {
  background-color: #000;
  height: 80px;
  width: 100%;
  z-index: 2000;
  position: fixed;
  top: 0px;
  background-position: top;
  cursor:pointer
}
#navInner {
  position: relative;
  background-color:#000;
  height: 70px;
  width: 830px;
  margin-right: auto;
  margin-left: auto;
}
#navInner #navLogo{
  background:url(../images/logo.gif) no-repeat;
  position:absolute; 
  width:101px; 
  height:42px; 
  left:0px;
}
#navInner .navs{
  position:absolute; 
  background-image:url(../images/menu.gif);
  background-repeat:no-repeat;
  height:40px;  
  cursor:pointer; 
}
#navInner #nav1{  
  background-position:0px top;
  width:182px;   
  left:118px;
}
#navInner #nav1:hover, #navInner #nav1.active{
  background-position:0px bottom;
}
#navInner #nav2{  
  background-position:-197px top;
  width:146px;   
  left:315px;
}
#navInner #nav2:hover, #navInner #nav2.active{
  background-position:-197px bottom;
}
#navInner #nav3{  
  background-position:-357px top;
  width:115px;   
  left:475px;
}
#navInner #nav3:hover, #navInner #nav3.active{
  background-position:-357px bottom;
}
#navInner #nav4{  
  background-position:-488px top;
  width:105px;   
  left:606px;
}
#navInner #nav4:hover, #navInner #nav4.active{
  background-position:-488px bottom;
}
#navInner #nav5{  
  background-position:-610px top;
  width:68px;   
  left:728px;
}
#navInner #nav5:hover, #navInner #nav5.active{
  background-position:-610px bottom;
}
#navInner #fb{  
  background-image:url(../images/fb.gif);
  width:15px; 
  height:15px;  
  left:815px;
  top:10px;
}