@charset "utf-8";
/* CSS Document */

/*--------- aside title bar-------------*/
.ContentBox-HeaderBG310x30{
  width:310px;
  height:30px;
  background:url(../images/result/blockTxtBg.gif) repeat-x #3498e7;
  border-top-left-radius: 5px 5px;
  -moz-border-radius-topleft: 5px 5px;
  border-top-right-radius: 5px 5px;
  -moz-border-radius-topright: 5px 5px;
  margin-bottom:10px; 
}
.ContentBox-HeaderBG310x30 div{
	height:30px;
}
.ContentBox-HeaderBG310x30 div h2{
  display: block;
  padding-left: 8px;
  margin:0px;
  width:auto;
  height: 30px;
  float: left;  
  color:#FFF;
  line-height: 30px;
  text-align: left;
  font-weight:bold;
  font-size: 14px;
  white-space:nowrap;
  text-shadow: 0px 1px 0px #136BB1;
  filter: progid:DXImageTransform.Microsoft.shadow(Color=#003366, Direction=135,Strength=2);    
}
.ContentBox-HeaderBG310x30 div span{
  display: block;
  padding-right:8px;
  margin:0px;
  height: 30px;
  float: right;
  width:auto;	
}
.ContentBox-HeaderBG310x30 div span a{
  color:#FFF;
  white-space:nowrap;
  font-size: 11px;
  line-height: 30px;
  text-align: right;
  text-decoration:none;
  cursor:pointer !important;
  border-left:#CCCCCC 1px solid;
  padding-left:5px;
}
.ContentBox-HeaderBG310x30 div span a:hover{
	color:#9FF;
}
/*--------- end of aside title bar-------------*/
#mapArea{
  width:308px;
  height:308px;
  margin:auto;
  margin-bottom:15px;
  border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  overflow:hidden;
  border: #ccc 1px solid;
}
#mapArea iframe{
  margin:0px;
  border:hidden;
  width:inherit;
  height:inherit;
  overflow:hidden;	
}
.Property-head{
	margin:0px;
}
.Property-List{
  width: 310px;
  margin-bottom:10px;
}
.ContentBox-Body-310{
  width: 288px;
  padding: 10px;
  border:#CCCCCC 1px solid;
  border-top:hidden;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}
.List-Content{
  width: 278px;
  margin: 0 0 5px 0;
  display:table-cell;
}
.Property-List .List-Content .ImgHolder {
  float: left;
  width: 90px;
  height: 68px;
  position: relative;
  padding: 3px;
  border: 1px solid #CCC;
  overflow: hidden;
  margin: 0 4px 0 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.Property-List .List-Content .ImgHolder a {
  width: 90px;
  height: 68px;
  position: absolute;
  font-size: 0%;
  display: block;
  overflow: hidden;
  cursor: pointer;
  z-index: 2;
}
.Property-List .List-Content .ImgHolder a img{
  width:inherit;
  height:inherit;
}
.Property-List .List-Content ol {
  width: 176px;
  float: left;
  padding: 0px;
  margin: 0px;
  list-style-type:none;
 }
.Property-List .List-Content ol li {
  list-style: none outside;  
  padding-left:20px;
  margin: 0;
  line-height: 16px;
}
.Property-List .List-Content ol li.hd{
  padding-left:0px;	
}
.Property-List .List-Content ol li.hd a{
  font-size: 13px;
  font-weight: bold;
  color:#333;
  text-decoration: none;
  line-height: 18px;
  width: 156px;
  display: block;
  padding-left:20px;
  /*background-position-y:1px;*/
  background-position:0px 1px;
  cursor: pointer;
}
.Property-List .List-Content ol li.hd a:hover{
  color:#3498e7;
}
.gray_wd11 {
  font-size: 11px;
  color:#666; 
}
.sidebar_divider {
  height: 1px;
  margin: 10px 0;
  width: 100%;
  background:url(../images/sidebar_divider.png) no-repeat;
  overflow: hidden;
}