@charset "utf-8";
body {
  margin: 0px;
  background:url(../images/bg.gif) repeat-x top;	
}
*{
  font-family: Arial, Helvetica, sans-serif;
  /*font-family: 'Lucida Grande', Helvetica, Arial, Verdana, sans-serif, 新細明體;*/
}
h2, .textBox, .placeName, .placeInfo, .OptCtn_title, .OptCtn_label{
  /* --- text not selecable ---- */
  cursor:default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a:link {
  text-decoration: none;
  color: #3498e7;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: none;
}
.container {
  width: 1000px;
  margin: 0 auto;
}

#articleBody{
  float:left;
  width:677px;	
  margin-right:13px;
  margin-bottom:30px;
  min-height:500px;
}

#asideBody{
  float:left;
  width:310px;
  min-height:1000px;
}
article, aside, section{
	display:block;
	margin:0px;
	padding:0px;
}