@charset "utf-8";
h2, a{
  /* --- text not selecable ---- */
  cursor:default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.corpLordBanner{
  margin-bottom:7px;	
}
/*------------ title area -----------*/
.Posting-Hdr{
  width:677px;
  height:97px;
  position:relative;
  display:block;	
  
}
.Posting-Hdr .Title{
	width: 515px;
	height: 87px;
	overflow: hidden;
	border-right: #CCCCCC 1px solid;
	/*position: absolute;
	left: -191px;
	top: 4px;*/
	display:block;
	float:left;
}
.Posting-Hdr .Title h2{
  font-size:22px;
  line-height:28px;
  font-weight:bold;
  margin:0px;
  padding:0px;  
}
.Posting-Hdr .Title h3{
  font-size:12px;
  line-height:18px;
  color:#666;
  margin:0px;
  padding:0px;
}
.Posting-Hdr .Title small{
  font-size:11px;
  line-height:20px;
  color:#666;
}

#landlordID{
  height:34px;
  width:150px;
  position:absolute;
  right:5px;
  top:5px;	
}
#landlordID #landlordID_name{
  height:34px;
  width:111px;  
  float:left;
  float:left;
  overflow:hidden;
}
#landlordID #landlordID_name span{
  height:34px;
  width:111px;
  font-size:12px;
  line-height:16px;
  color:#666;
  display:table-cell;
  vertical-align:middle;	
  text-align:right;
}
#landlordID #landlordID_logo{
  height: 32px;
  width: 32px;
  border:#c5e6ff 1px solid;
  float:right;  	
}
#ApplyBtn{  
  width: 150px;
  height: 47px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  right: 5px;
  bottom: 10px;
}
.ContactUserBtn{
	width:140px;
	height:35px;
	background:url(../images/detail/ApplyBtn.png) no-repeat;
	display: inline-block;
	cursor:pointer;
	margin:11px 10px;	
}
.ContactUserBtn:hover{
	background-position:0px 100%;
}
/*------------ end of title area -----------*/

.imgArea{
  width:677px;
  height:361px;
  text-align:center;
  display:block;
  margin-bottom:10px;
  position:relative;  
}
.imgArea #pervBTN, .imgArea #nextBTN{
  cursor:pointer;
  width: 44px;
  height:47px;
  position: absolute;
  top:126px;  
  z-index:10;
}
.imgArea #pervBTN{
  background:url(../images/detail/perv.png) no-repeat 10px 0px;
  left:-15px;
}
.imgArea #nextBTN{
  background:url(../images/detail/next.png) no-repeat 0px 0px;
  right:-15px;
}
.imgArea #nextBTN:hover, .imgArea #pervBTN:hover{
  background-position-y:100%;
}
.imgArea #pervBTN:hover{
  animation:pervBTNAnim 1s linear infinite;
  -moz-animation:pervBTNAnim 1s linear infinite; 
  -webkit-animation:pervBTNAnim 1s linear infinite; 
}
@keyframes pervBTNAnim{
  0% {background-position:10px 100%}
  50% {background-position:0px 100%} 
  100% {background-position:10px 100%}
}
@-moz-keyframes pervBTNAnim{
  0% {background-position:10px 100%}
  50% {background-position:0px 100%} 
  100% {background-position:10px 100%}
}
@-webkit-keyframes pervBTNAnim{
  0% {background-position:10px 100%}
  50% {background-position:0px 100%} 
  100% {background-position:10px 100%}
}
.imgArea #nextBTN:hover{
  animation:nextBTNAnim 1s linear infinite;
  -moz-animation:nextBTNAnim 1s linear infinite; 
  -webkit-animation:nextBTNAnim 1s linear infinite; 
}
@keyframes nextBTNAnim{
  0% {background-position:0px 100%}
  50% {background-position:10px 100%} 
  100% {background-position:0px 100%}
}
@-moz-keyframes nextBTNAnim{
  0% {background-position:0px 100%}
  50% {background-position:10px 100%} 
  100% {background-position:0px 100%}
}
@-webkit-keyframes nextBTNAnim{
  0% {background-position:0px 100%}
  50% {background-position:10px 100%} 
  100% {background-position:0px 100%}
}

.imgArea #screen{
	overflow:hidden;
	width:677px;
	height:300px;
	margin-bottom:1px;
	position:relative;
}
.imgArea #screen .imgContainer{
  position:absolute;
  top:0px;
  height:300px
}
.imgArea #screen .imgContainer ul{
  margin:0px;
  padding:0px;
  list-style:none;
}
.imgArea #screen .imgContainer ul li{
  margin:0px 1px 0px 0px;	
  height:300px;
  float:left;
}
.imgArea #screen .imgContainer ul li div{
  position:relative;
  height:300px;
}
.imgArea #screen .imgContainer ul li div div.cover{
  position:absolute;
  z-index:2;
  left:0px; 
  top:0px;
  background:url(../images/detail/imgCover.gif);
  opacity:0.5;
  height:300px;	
}
.imgArea #screen .imgContainer ul li div img{
  position:absolute;
  left:0px; 
  top:0px;
  z-index:1;
  height:300px;
}

.imgArea #picker{
  height:60px;
  background-color:#8b8b8b;
  box-shadow:inset 0px 0px 16px #333;
  -webkit-box-shadow:inset 0px 0px 16px #333;
  -moz-box-shadow:inset 0px 0px 16px #333;
  border-radius: 2px 2px;
  -moz-border-radius: 2px 2px;
  border-radius: 2px 2px;
  -moz-border-radius: 2px 2px;
  position:relative;
}
.imgArea #picker #pickerCon{
  padding-top:5px;
  margin:auto;
  height:52px;
 }

.imgArea #picker div div{
  width:46px;
  height:46px;
  padding:1px;
  border:#CCC 1px solid;
  border-radius: 3px 3px;
  border-radius: 3px 3px;
  -moz-border-radius: 3px 3px;
  -webkit-border-radius: 3px 3px;
  box-shadow:0px 0px 3px #333, 0px 2px 10px -4px #000;
  -moz-box-shadow:0px 0px 3px #333, 0px 2px 10px -4px #000;
  -webkit-box-shadow:0px 0px 3px #333, 0px 2px 10px -4px #000;
  margin-right:5px;
  float:left;
  background-color:#FFF;
  /*cursor:pointer;*/
}
/*.imgArea #picker div div:hover{
  box-shadow:0px 0px 3px #006699, 0px 0px 6px #00FFFF;
  -moz-box-shadow:0px 0px 3px #006699, 0px 0px 6px #00FFFF;
  -webkit-box-shadow:0px 0px 3px #006699, 0px 0px 6px #00FFFF;
  cursor:pointer;
}*/
.imgArea #picker div div img{
	margin:auto;
}
.Property-Feature{
  position:relative;
  margin-bottom:20px;
}
.FunIconCtn{	 
  padding:0px;
}
.Property-FeatureTable{
  width:677px;
}
.Property-FeatureTable tr td{
  padding-bottom:10px;
  font-size:12px;
  color:#333;
  text-align:left;
  vertical-align:top;	
}
.FeatureTable{
  padding-left:5px;
  padding-right:5px;
}
.wrapper{
	height:30px;
	padding-top:5px;
	padding-bottom:5px;
	width:144px;
}
.pty-fun-icon-wt{
	margin-left:5px;
}
.pty-fun-icon-wt a{
  color:#666;
  cursor: pointer;
  display: inline-block;
  float: none;
  line-height: 20px;
  padding:0px 10px 0px 25px;
  white-space: nowrap;
  width:104px;
}
.pty-fun-icon-wt a:hover{
  color:#3498e7;
  text-decoration:none;
}
.pty-fun-icon-wt .addClipBorad{
  background:url(../images/property-fun-icon.png) 0px -40px no-repeat;   
}
.pty-fun-icon-wt .addClipBorad:hover{
  /*background-position-y:-60px;*/
  background-position:0px -60px;
}
.pty-fun-icon-wt .pint{
  background:url(../images/property-fun-icon.png) 0px -160px no-repeat;   
}
.pty-fun-icon-wt .pint:hover{
  /*background-position-y:-180px;*/
  background-position:0px -180px;
}
.pty-fun-icon-wt .share{
  background:url(../images/property-fun-icon.png) 0px -120px no-repeat;   
}
.pty-fun-icon-wt .share:hover{
  /*background-position-y:-140px;*/
  background-position:0px -140px;
}
.pty-fun-icon-wt .facebook{
  background:url(../images/property-fun-icon.png) 0px -200px no-repeat;   
}
.pty-fun-icon-wt .facebook:hover{
  /*background-position-y:-220px;*/
  background-position:0px -220px;
}

.RoomDetail{
  list-style-type:none;
  margin:0px;
  padding:0px;
}
.propertyType{
  padding-left:20px;
  line-height:18px;
  background-position:0px 50%;
  display: inline-block;
}
.resType{
  background:url(../images/R-TypeIcon.gif) no-repeat;	
}
.comType{
  background:url(../images/C-TypeIcon.gif) no-repeat;	
}
.saType{
  background:url(../images/SA-TypeIcon.gif) no-repeat;	
}

/* ---  Estate-Section -----*/
.Estate-Section{
	display:block;
}
.Estate-Header{
  width:677px;
  height:30px;
  background:url(../images/result/blockTxtBg.gif) repeat-x #3498e7;
  border-top-left-radius: 5px 5px;
  -moz-border-radius-topleft: 5px 5px;
  border-top-right-radius: 5px 5px;
  -moz-border-radius-topright: 5px 5px;
}
.Estate-Header div h2{
  display: block;
  padding-left: 8px;
  margin:0px;
  width:auto;
  height: 30px;
  float: left;  
  color:#FFF;
  line-height: 30px;
  text-align: left;
  font-weight:bold;
  font-size: 14px;
  white-space:nowrap;
  text-shadow: 0px 1px 0px #136BB1;
  filter: progid:DXImageTransform.Microsoft.shadow(Color=#003366, Direction=135,Strength=2);    
}
.Estate-Header div span{
	display: block;
	padding-right:8px;
	margin:0px;
	height: 30px;
	float: right;
	width:auto;	
}
.Estate-Header div span a{
	color:#FFF;
	white-space:nowrap;
	font-size: 11px;
	line-height: 30px;
	text-align: right;
	text-decoration:none;
	cursor:pointer !important;
	border-left:#CCCCCC 1px solid;
	padding-left:5px;
}
.Estate-Header div span a:hover{
	color:#9FF;
}
.Estate-body{
  padding:10px;
  width:655px;
  
  display:table-cell;
  vertical-align:middle;
  border:#CCCCCC 1px solid;
  border-top:hidden;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
	
}
.Estate-Info{
  width:297px;
  padding:25px;
  font-size:12px;
  text-align:justify;
}
.Estate-Info .logo{
  display:block; /*allows the element to take auto margins*/ 
  margin:0 auto; /*centers in compliant browsers*/ 
  text-align:center; /*centers in old versions of IE*/
  padding-top:5px;  
}
.value{
  border:#E5E5E5 1px solid;
  display: table-cell;
  font-size: 11px;
  line-height: 16px;
  padding-bottom: 2px;
  padding-top: 2px;
  text-align: center;
  vertical-align: middle;
  width: 47px;
}
.key{
  background:#F0F0F0 url(http://hohojo.com/Images/_Property/cursor.gif)100% 50% no-repeat;
  
  border:#E5E5E5 1px solid;
  color: #333;
  display: table-cell;
  font-size: 11px;
  line-height: 16px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 22px;
  padding-top: 2px;
  text-align: left;
  vertical-align: middle;
  width: 86px;
}
.empty{
  background:#F0F0F0;
  border:#E5E5E5 1px solid;
  color: #333;
  display: table-cell;
  font-size: 11px;
  line-height: 16px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 22px;
  padding-top: 2px;
  text-align: left;
  vertical-align: middle;
  width: 86px;
}
.tick{
  display: inline-block;
  width: 13px;
  height: 13px;
  line-height: 16px;
  overflow: hidden;
  vertical-align:baseline;
}
.cross{
  display: inline-block;
  width: 13px;
  height: 13px;
  line-height: 16px;
  overflow: hidden;
  vertical-align:baseline;
}
.cross img{
  margin-top:-13px;
}

/* ---  end of Estate-Section -----*/

