@charset "utf-8";
#homeVideoCell{
  margin-left:auto; 
  margin-right:auto; 
  margin-bottom:30px;
  width:560px;
  height:315px;
  transition:box-shadow .8s ease-out; 
  -moz-transition:-moz-box-shadow .8s ease-out; 
  -webkit-transition:-webkit-box-shadow .8s ease-out; 
  box-shadow: 0px 6px 12px -6px #000;
  -webkit-box-shadow: 0px 6px 12px -6px #000;
  -moz-box-shadow: 0px 6px 12px -6px #000;
 
}
#homeVideoCell:hover{
  -moz-box-shadow:0px 6px 12px -6px #006699,-10px 0px 30px #99FFFF,10px 0px 20px #99FFFF,-60px 0px 80px #CFF,60px 0px 100px #CFF;
  -webkit-box-shadow:0px 6px 12px -6px #006699,-10px 0px 30px #99FFFF,10px 0px 20px #99FFFF,-60px 0px 80px #CFF,60px 0px 100px #CFF;
  box-shadow:0px 6px 12px -6px #006699,-10px 0px 30px #99FFFF,10px 0px 20px #99FFFF,-60px 0px 80px #CFF,60px 0px 100px #CFF;
  filter: progid:DXImageTransform.Microsoft.Glow(color='#0099CC', Strength='3');
}
#homeVideoCell iframe{
	border:0px
}



#directLink{
  width:1000px; 
  border-top:#e6e6e6 1px solid;
  padding-top:20px;
  height:210px;
  margin-bottom:30px;
}
#directLink div{	
  float:left;
}
.directLinkBTN{
  cursor:pointer;
  width:225px;
  height:210px;	
}
.directLinkImg{
  width:219px;
  height:162px;
  filter:progid:DXImageTransform.Microsoft.Glow(color='white', Strength='3');
  margin-left:3px;
  margin-right:3px;
  margin-left:0px\9;
  margin-right:0px\9;			
}
.directLinkBTN:hover .directLinkImg{
  animation:directLinkBTNAnim 2.5s ease-in-out infinite;
  -moz-animation:directLinkBTNAnim 2.5s ease-in-out infinite; 
  -webkit-animation:directLinkBTNAnim 2.5s ease-in-out infinite; 
  filter: progid:DXImageTransform.Microsoft.Glow(color='#0099CC', Strength='3');	
}
@media not screen and (1) {/*opera only*/
  .homeShortCut:hover img{
	box-shadow: 0px 0px 3px #06C, 0px 0px 20px #0099CC, 0px 30px 100px #99FFFF;
  }
}
@keyframes directLinkBTNAnim{
  0% {box-shadow: 0px 0px 2px #06C, 0px 0px 10px #0099CC, 0px 30px 0px #fff;}
  50% {box-shadow: 0px 0px 3px #06C, 0px 0px 20px #0099CC, 0px 30px 100px #99FFFF;} 
  100% {box-shadow: 0px 0px 2px #06C, 0px 0px 10px #0099CC, 0px 30px 0px #fff;}
}
@-moz-keyframes directLinkBTNAnim{
  0% {box-shadow: 0px 0px 2px #06C, 0px 0px 10px #0099CC, 0px 30px 0px #fff;}
  50% {box-shadow: 0px 0px 3px #06C, 0px 0px 20px #0099CC, 0px 30px 100px #99FFFF;} 
  100% {box-shadow: 0px 0px 2px #06C, 0px 0px 10px #0099CC, 0px 30px 0px #fff;}
}
@-webkit-keyframes directLinkBTNAnim{
  0% {box-shadow: 0px 0px 2px #06C, 0px 0px 10px #0099CC, 0px 30px 0px #fff;}
  50% {box-shadow: 0px 0px 3px #06C, 0px 0px 20px #0099CC, 0px 30px 100px #99FFFF;} 
  100% {box-shadow: 0px 0px 2px #06C, 0px 0px 10px #0099CC, 0px 30px 0px #fff;}
}
.directLinkTXT{
  width:225px;
  height:32px;
  padding-top:16px;
  color:#666;
  font-size:14px;	
  text-align:center;	
}
.directLinkBTN:hover .directLinkTXT{
  color:#0d4c87;	
  text-shadow: 0px 0px 3px #06C, 0px 0px 10px #0099CC;
}
.directLinkSpace{
  width:33px;
  height:210px;
}
.directLinkSpace div{
  width:1px; 
  height:210px; 
  background-color:#e6e6e6;
  margin-left:16px;
  margin-right:16px;	
}

#hotCities{
  width:1000px;
  margin-bottom:30px ;
}
#hotCitiesHeader{
  width:1000px;
  height:31px;
  background:url(../images/home/home_hotCities_top.jpg) no-repeat;	
}
#hotCitiesBody{
  border-left:1px #ddd solid;
  border-right:1px #ddd solid;   
}
#hotCitiesFooter{
  width:1000px;
  height:5px;
  background:url(../images/home/home_hotCities_bottom.jpg) no-repeat;	
}
