@charset "utf-8";
/*--------- title area-------------*/
#GB_PageTitle{
  width:677px;
  height:70px;
  background:url(../images/result/Posting_Listing_Title.jpg) no-repeat;
  margin-bottom:10px;	  
}
#GB_PageTitle div{
  padding:14px 10px 10px 10px;
}
#GB_PageTitle div h2{
  color:#FFF;
  margin:0px;
  font-weight:bold;
  font-size:16px;
  letter-spacing:0.1em;
  text-shadow: 0.1em 0.1em 0.2em #003366;
  filter: progid:DXImageTransform.Microsoft.shadow(Color=#003366, Direction=135,Strength=2);
}
/*--------- end of title area-------------*/
/*--------- blocks area-------------*/
#blockArea{
  width:677px;
  height:939px;
  position:relative;
  margin:0px 0px 10px 0px;  
  padding:0px;  
}
#blockArea div{
  position:absolute;
  z-index:0;  
  overflow:hidden;
  box-shadow:0px 0px 0px 13px #fff;
  -webkit-box-shadow:0px 0px 0px 13px #fff;
  -moz-box-shadow:0px 0px 0px 13px #fff;	
  background-color:#ccc;  
}
#blockArea div div{
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  background:none;  
}
#blockArea div:hover{
  box-shadow:0px 0px 10px #0099CC, 0px 0px 0px 13px #fff;
  -webkit-box-shadow:0px 0px 10px #0099CC, 0px 0px 0px 13px #fff;
  -moz-box-shadow:0px 0px 10px #0099CC, 0px 0px 0px 13px #fff;
  cursor:pointer;
}
#blockArea div .shadow{
  position:absolute;
  left:0px;
  top:0px;
  box-shadow:inset 0px 0px 6px #666;
  -webkit-box-shadow:inset 0px 0px 6px #666;
  -moz-box-shadow:inset 0px 0px 6px #666;  
  z-index:3;  
}
#blockArea div .textBox{
  position:absolute;
  bottom:0px;
  left:6px;
  border-top-left-radius: 5px 5px;
  -moz-border-radius-topleft: 5px 5px;
  border-top-right-radius: 5px 5px;
  -moz-border-radius-topright: 5px 5px;
  box-shadow:0px 1px 4px #000;
  -webkit-box-shadow:0px 1px 4px #000;
  -moz-box-shadow:0px 1px 4px #000; 
  /*filter: progid:DXImageTransform.Microsoft.shadow(Color=#000000, Direction=135,Strength=2);*/
  background:url(../images/result/blockTxtBg.gif) repeat-x #3498e7;  
  z-index:2;
  padding:5px;
}
#blockArea div .textBox:hover{
  box-shadow:0px 1px 4px #000;
  -webkit-box-shadow:0px 1px 4px #000;
  -moz-box-shadow:0px 1px 4px #000;
  /*filter: progid:DXImageTransform.Microsoft.shadow(Color=#000000, Direction=135,Strength=2); */  	  
}
#blockArea div .textBox .placeName{
  position:relative;	
}
#blockArea div .textBox .placeName h3{
  margin:0px;
  padding:0px;
  padding-right:1px;
  white-space:nowrap;  
  color:#FFF;  
  font-weight:bold;
  font-size:14px;
  text-shadow: 0.1em 0.1em 0.2em #000;
  text-align:left;
}
#blockArea div .textBox .placeInfo{
  position:relative;		
  display:none;
  overflow:hidden;
  color:#FFF;
  font-size:12px;
  letter-spacing:0.1em;
  white-space:nowrap;  
  line-height:14px; 
}
#blockArea div:hover .textBox .placeInfo{
  display:block;
}
#blockArea div .textBox:hover div{
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  /*filter: progid:DXImageTransform.Microsoft.shadow(Color=#000000, Direction=135,Strength=0);*/  	  
}
#blockArea div .imgCell{
  position:absolute;
  width:auto;
  height:auto;
  z-index:1;
}
figure{
  margin:0px;
}
/*--------- end of blocks area-------------*/
#pageNav{
	display:block;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	color:#666;
}

/* ---  advanced search ------*/
.AdvancedSch{
  margin-left:auto;
  margin-right:auto;
  width:290px;
  margin-bottom:10px;
}
.OptCtn{
  width:290px; 
}
.OptCtn_title{
  color:#666;
  font-weight:bold;
  font-size:12px;
  padding:10px 0px 10px 0px;		
}
.OptCtn_label{
  width:100px;
  color:#666;
  font-size:12px;
  padding:10px 0px 10px 0px;		
}
.OptCtn_div{
  width:190px;
}
.OptCtn_div select{
  width:98%;
  color:#666;
  font-size:14px;
  border:#ccc 1px solid;
  border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  padding:1px;	
}
.slideBar{
	width:188px;
	height:20px;
	background:url(../images/result/sliderBG.gif) 4px 6px no-repeat;
	position:relative;
}
.ui-slider-handle{
	position:absolute;
	top:0px;
	width:14px;
	height:20px;	
	background:url(../images/result/Slider-Handle.gif) no-repeat;
	z-index:2;
	cursor:pointer;
	border-radius: 5px 5px;
	-moz-border-radius: 5px 5px;
}
.ui-slider-handle1_default{
	left:0px
}
.ui-slider-handle2_default{
	left:174px
}
.ui-slider-range{
	position:absolute;
	left:7px;
	top: 6px;	
	width:174px;
	height:5px;
	background: #d7e3f7;
	border-top:#afc6ee 1px solid;
	border-bottom:#cddcf4 1px solid;
	z-index:1;	
}
#searchBTN{
	width:117px;
	height:43px;
	margin:auto;
	margin-top:10px;	
	background:url(../images/result/searchBTN.jpg) no-repeat;
	cursor:pointer;
	box-shadow: 0px 6px 8px -6px #000;
	-webkit-box-shadow: 0px 6px 8px -6px #000;
	-moz-box-shadow: 0px 6px 8px -6px #000;
}
#searchBTN:hover{
	background-position-y: -43px;
}
/* --- end of advanced search ------*/