@charset "utf-8";
/* CSS Document */
#careers{
	background-image:url(../../images/careers/bg.jpg);
	background-position:0px 53px;
	background-repeat:no-repeat;	
	
	width:100%;
	position:relative;
	top:0px;
	left:0px;
	overflow:hidden;
}
#careers #innerScroller{
	position:absolute;
	left:0px;
	top:0px;
}
#careers #innerScroller .content{
	width:640px;
	top:0px;
	z-index:10;
	display:block;
	float:left;
	position:relative
}
#careers  .menu > ul{
	display:block;
	width:100px;
	height:100px;
	position:absolute;
	left:31px;
	top:132px;/* override by javascript*/
	width:576px;
	margin:0px;
	padding:0px;
}
#careers  .menu > ul li{
	display:block;
	list-style:none;
	list-style-type:none;
	
	padding:0px;	
	text-align:left;
}
#careers .menu > ul li#tit1{
	background-color:rgba(0,0,0,0.3);
	background-image:url(../../images/arrowR.png);
	background-position:540px center;
	background-repeat:no-repeat;
	
	border:#fff 1px solid;		
	border-radius:8px;
	-webbit-border-radius:8px;	
	-moz-border-radius:8px;
	-o-border-radius:8px;
	margin:0px 0px 12px 0px;
	cursor:pointer;

	font-size:45pt;
	line-height:100%;
	margin-bottom:25px;
	width:530px;
	padding:22px;
}

#careers  #content2 .textScroll2 > ul{
	display:block;
	padding:0px;
	position:relative;
}

#careers  #content2 .textScroll2 > ul li, #careers  #subPage1 ul li{
	border:#000 1px solid;
	border-radius:5px;
	-webbit-border-radius:5px;	
	-moz-border-radius:5px;
	-o-border-radius:5px;	
	display:block;
	
	margin:0px 0px 10px 0px;
	background:url(../../images/arrowR2.png) no-repeat right 15px center;	
	cursor:pointer;
	width: 565px;
	font-size:20pt;
	line-height:110%;
	padding:15px;
	color:#000;
	padding:20px 15px 20px 10px;	
}
#careers  .content h3, #careers  .content h4, #careers  .subPage  h5{
	float:none;
	position:relative;
	color:#000;
}
#careers  #subPage1  h5{	
	margin:25px 0px 10px 30px;
	padding:0px;
	font-size:20pt;
	line-height:120%;
	font-weight:normal;
}
#careers  .subPage .textScroll2{
margin-bottom:30px;
}
#careers  #subPage1{
	z-index:5;
}
#careers  #subPage1 .textScroll{
	position:absolute;
	left:0px;
	top:145px;
}
#careers  #subPage1 .textScroll2 ul{
	position:relative;
	left:0px;
	top:0px;
}
#careers  #subPage2{
	z-index:6;
}
#careers  #subPage2 h5{
	padding:5px 0px;
	margin:0px;
	color:#000;
	font-weight:normal;
	font-size:20pt;
	line-height:120%;	
}
#careers #subPage2 .info{
	font-size:14pt;
	line-height:100%;	
}
#careers #subPage2 .contentTXT{
	padding:10px 10px 20px 0px;
}
#careers #subPage2 .contentTXT *{
	font-size:20pt;
	line-height:160%;
}
#careers #subPage2 .contentTXT p{
	margin-bottom:20px;
}
#careers #subPage2 .contentTXT ul{
	margin: 0px;
	padding-left: 30px;
}