@charset "utf-8";
/* CSS Document */
#samvonews{
	background-image:url(../../images/news/bg.jpg);
	background-position:0px 90px;/* override by javascript*/
	background-repeat:no-repeat;	
	
	width:100%;
	position:relative;
	top:0px;
	left:0px;
	overflow:hidden;
}

#samvonews #innerScroller{ 
	position:absolute;
	left:0px;
	top:0px;
}

#samvonews #innerScroller .content{
	width:640px;
	top:0px;
	z-index:10;
	display:block;
	float:left;
	position:relative
}

#samvonews  .menu > ul{
	display:block;
	width:100px;
	height:100px;
	position:absolute;
	left:31px;
	top:660px;/* override by javascript*/
	width:576px;
	margin:0px;
	padding:0px;
}

#samvonews  .menu > ul li{
	display:block;
	list-style:none;
	list-style-type:none;
	
	padding:0px;	
	text-align:left;

	background-color:rgba(0,0,0,0.3);
	background-image:url(../../images/arrowR.png);
	background-position:540px center;
	background-repeat:no-repeat;
	
	border:#fff 1px solid;
	padding:10px 22px;			
	border-radius:8px;
	-webbit-border-radius:8px;	
	-moz-border-radius:8px;
	-o-border-radius:8px;
	width:430px;
	margin:0px 0px 12px 0px;
	cursor:pointer;
}
#samvonews #content1 #tit1{
	font-size:50pt;
	line-height:100%;
	margin-bottom:18px;
	width:530px;
	padding:20px 22px;
}
#samvonews .content input#newsSearch{
	border: #000 1px solid;
	position:absolute;
	left:28px;
	top:93px;
	font-size:18pt;
	line-height:120%;
	padding:20px 10px 10px 10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	width:570px;
}
#samvonews .content input#newsSearch::-webkit-input-placeholder {
    color:#000;
	font-size:18pt;
	line-height:120%;
}
#samvonews .content input#newsSearch:-moz-placeholder {
   color:#000;
	font-size:18pt;
	line-height:120%;
}
#samvonews .content input#newsSearch:-ms-input-placeholder {
    /* IE10+ */
    color:#000;
	font-size:18pt;
	line-height:120%;
}
#samvonews .content input#newsSearch:focus::-webkit-input-placeholder {
	color:#ccc;
}
#samvonews .content input#newsSearch:focus:-moz-placeholder {
	color:#ccc;
}
#samvonews .content input#newsSearch:focus:-ms-input-placeholder {
    /* IE10+ */
    color:#ccc;
}
#samvonews  .content .textScrollNews{	
	width:640px;
	position:absolute;
	top:170px;
	left:0px;
	overflow:auto;
}
#samvonews .content .textScrollNews .textScroll2 ul{
	display:block;
	padding:0px;
	margin:0px 20px 0px 28px;
}
#samvonews  .content .textScrollNews .textScroll2 li{
	border:#000 1px solid;
	border-radius:5px;
	-webbit-border-radius:5px;	
	-moz-border-radius:5px;
	-o-border-radius:5px;
	
	display:block;
	padding:20px 15px 20px 10px;
	margin:0px 0px 10px 0px;
	background-image:url(../../images/arrowR2.png);
	background-repeat:no-repeat;
	background-position: 555px center;	
	cursor:pointer;
	width: 565px;
}
#samvonews .content .textScrollNews .textScroll2 li > div{
	width: 540px;
	height:auto;
	color:#000;
	display:block;
	position:relative;
	padding-right:25px;
}
#samvonews  .content .textScrollNews .textScroll2 li .title{
	font-size:20pt;
	line-height:110%;
	padding-bottom:8px;		
}
#samvonews .info{
	font-size:14pt;
	line-height:100%;
}
#samvonews .subPage h5{
	padding:5px 0px;
	margin:0px;
	color:#000;
	font-weight:normal;
	font-size:20pt;
	line-hight:120%;
}
#samvonews .subPage .info{
	margin-bottom:15px
}
#samvonews .subPage #postIMG{
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	padding:20px 0px;
	display:block;
}
#samvonews .subPage .contentTXT{
	padding:10px 10px 20px 0px;
}
#samvonews .subPage .contentTXT *{
	font-size:20pt;
	line-height:160%;
}
#samvonews .subPage .contentTXT p{
	margin-bottom:20px;
}
#samvonews .subPage  .contentTXT ul{
	margin: 0px;
	padding-left: 30px;
}
