@charset "utf-8";
/* CSS Document */
#whatWeDo{
	background-image:url(../../images/whatWeDo/bg.jpg);
	background-position:0px 80px; /* override by javascript */
	background-repeat:no-repeat;
	
	width:100%;
	position:relative;
	top:0px;
	left:0px;
	overflow:hidden;
}
#whatWeDo #innerScroller{
	position:absolute;
	left:0px;
	top:0px;
}
#whatWeDo #innerScroller .content{
	width:640px;
	top:0px;
	z-index:10;
	display:block;
	float:left;
	position:relative
}
#whatWeDo .menu > ul{
	display:block;
	width:100px;
	height:100px;
	position:absolute;
	left:31px;
	top:160px;
	width:576px;
	margin:0px;
	padding:0px;
}
#whatWeDo .menu > ul li{
	display:block;
	list-style:none;
	list-style-type:none;
	
	padding:0px;	
	text-align:left;

	background-color:rgba(0,0,0,0.3);
	background-image:url(../../images/arrowR.png);
	background-position:540px center;
	background-repeat:no-repeat;
	
	border:#fff 1px solid;
	padding:10px 22px;			
	border-radius:8px;
	-webbit-border-radius:8px;	
	-moz-border-radius:8px;
	-o-border-radius:8px;
	width:430px;
	margin:0px 0px 12px 0px;
	cursor:pointer;
}
#whatWeDo #tit1{
	font-size:50pt;
	line-height:100%;
	margin-bottom:18px;
	width:530px;
	padding:20px 22px;
}
#whatWeDo #tit2, #whatWeDo #tit3, #whatWeDo #tit4{
	font-size:26pt;
	line-height:180%;
	margin-bottom:18px;
	width:530px;
	padding:16px 22px;
}
#whatWeDo .textScroll2 ul li{
	list-style:none;
	list-style-type:none;
	
	background-color:#fff;
	background-image:url(../../images/arrowR2.png);
	background-position:245px center;
	background-repeat:no-repeat;
	
	border:#000 1px solid;
	
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	
	color:#000;
	width:260px;
	float:left;
	cursor:pointer;
	
	font-size: 20pt;
	line-height:150%;
	padding:15px 10px;
}
#whatWeDo .textScroll2 ul li:nth-child(odd){
	margin:0px 15px 15px 0px;
}
#whatWeDo .textScroll2 ul li:nth-child(even){
	margin:0px 0px 15px 0px;
}
#whatWeDo .textScroll2 p{
	font-size:20pt;
	line-height:160%;	
}