@charset "utf-8";
/* CSS Document */

.bodyFrameBG {background-image:url(../images/frame.png); 
background-repeat:repeat-y;
background-position:center top;}

.footerBG {background-image:url(../images/footer_03.png); 
background-position:center top; 
background-repeat:no-repeat; }


.upload2BG {
background-image:url(../images/upload/upload2bg.png); 
background-position:left top; 
background-repeat:repeat-y;
}

.video1_st1BG {
background-image:url(../images/video/video1_st1.png); 
background-position:center top; 
background-repeat:no-repeat; 
}

.video1_st2BG {
background-image:url(../images/video/video1_st2.png); 
background-position:center top; 
background-repeat:no-repeat; 
}

.video1_st3BG {
background-image:url(../images/video/video1_st3.png); 
background-position:center top; 
background-repeat:no-repeat; 
}

.video1_st4BG {
background-image:url(../images/video/video1_st4.png); 
background-position:center top; 
background-repeat:no-repeat; 
}

.video2_st1BG {
background-image:url(../images/video/video2_st1_BG.png); 
background-position:center top; 
background-repeat:no-repeat;
}

.video2_st2BG {
background-image:url(../images/video/video2_st2_BG.png); 
background-position:center top; 
background-repeat:no-repeat;
}

.video2_st3BG {
background-image:url(../images/video/video2_st3_BG.png); 
background-position:center top; 
background-repeat:no-repeat;
}


.video2_st4BG {
background-image:url(../images/video/video2_st4_BG.png); 
background-position:center top; 
background-repeat:no-repeat;
}

.tip1_st1BG {
background-image:url(../images/tip/tip1_st1.png); 
background-position:center top; 
background-repeat:no-repeat; 
}

.tip1_st2BG {
background-image:url(../images/tip/tip1_st2.png); 
background-position:center top; 
background-repeat:no-repeat; 
}

.tip1_st3BG {
background-image:url(../images/tip/tip1_st3.png); 
background-position:center top; 
background-repeat:no-repeat; 
}

.tip1_st4BG {
background-image:url(../images/tip/tip1_st4.png); 
background-position:center top; 
background-repeat:no-repeat; 
}

.tip2_st1BG {
background-image:url(../images/tip/tip2_st1_BG.png); 
background-position:center top; 
background-repeat:no-repeat;
}

.tip2_st2BG {
background-image:url(../images/tip/tip2_st2_BG.png); 
background-position:center top; 
background-repeat:no-repeat;
}

.tip2_st3BG {
background-image:url(../images/tip/tip2_st3_BG.png); 
background-position:center top; 
background-repeat:no-repeat;
}


.tip2_st4BG {
background-image:url(../images/tip/tip2_st4_BG.png); 
background-position:center top; 
background-repeat:no-repeat;
}
