@charset "utf-8";
/* CSS Document */

.bodyFrameBG {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/frame.png', sizingMethod='scale');	
 }

/*.upload2BG {
background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/upload/upload2bg.png', sizingMethod='scale');	
}*/
.upload2BG {
background-image:url(../images/upload/upload2bg.gif); 
background-position:left top; 
background-repeat:repeat-y;
}

/*.video1_st1BG {	
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/video/video1_st1.png', sizingMethod='crop');
}
.video1_st2BG {	
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/video/video1_st2.png', sizingMethod='crop');
}
.video1_st3BG {	
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/video/video1_st3.png', sizingMethod='crop');
}
.video1_st4BG {	
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/video/video1_st4.png', sizingMethod='crop');
}*/
.video1_st1BG {
background-image:url(../images/video/video1_st1.gif); 
background-position:center top; 
background-repeat:no-repeat; 
}

.video1_st2BG {
background-image:url(../images/video/video1_st2.gif); 
background-position:center top; 
background-repeat:no-repeat; 
}

.video1_st3BG {
background-image:url(../images/video/video1_st3.gif); 
background-position:center top; 
background-repeat:no-repeat; 
}

.video1_st4BG {
background-image:url(../images/video/video1_st4.gif); 
background-position:center top; 
background-repeat:no-repeat; 
}


/*.video2_st1BG {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/video/video2_st1_BG.png', sizingMethod='crop');
	
}

.video2_st2BG {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/video/video2_st2_BG.png', sizingMethod='crop');
	
}

.video2_st3BG {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/video/video2_st3_BG.png', sizingMethod='crop');
	
}

.video2_st4BG {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/video/video2_st4_BG.png', sizingMethod='crop');
	
}*/
.video2_st1BG {
background-image:url(../images/video/video2_st1_BG.gif); 
background-position:center top; 
background-repeat:no-repeat;
}

.video2_st2BG {
background-image:url(../images/video/video2_st2_BG.gif); 
background-position:center top; 
background-repeat:no-repeat;
}

.video2_st3BG {
background-image:url(../images/video/video2_st3_BG.gif); 
background-position:center top; 
background-repeat:no-repeat;
}


.video2_st4BG {
background-image:url(../images/video/video2_st4_BG.gif); 
background-position:center top; 
background-repeat:no-repeat;
}

/*.tip1_st1BG {	
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/tip/tip1_st1.png', sizingMethod='crop');
}

.tip1_st2BG {	
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/tip/tip1_st2.png', sizingMethod='crop');
}

.tip1_st3BG {	
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/tip/tip1_st3.png', sizingMethod='crop');
}

.tip1_st4BG {	
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/tip/tip1_st4.png', sizingMethod='crop');
}*/
.tip1_st1BG {
background-image:url(../images/tip/tip1_st1.gif); 
background-position:center top; 
background-repeat:no-repeat; 
}

.tip1_st2BG {
background-image:url(../images/tip/tip1_st2.gif); 
background-position:center top; 
background-repeat:no-repeat; 
}

.tip1_st3BG {
background-image:url(../images/tip/tip1_st3.gif); 
background-position:center top; 
background-repeat:no-repeat; 
}

.tip1_st4BG {
background-image:url(../images/tip/tip1_st4.gif); 
background-position:center top; 
background-repeat:no-repeat; 
}

/*.tip2_st1BG {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/tip/tip2_st1_BG.png', sizingMethod='crop');
	
}

.tip2_st2BG {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/tip/tip2_st2_BG.png', sizingMethod='crop');
	
}

.tip2_st3BG {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/tip/tip2_st3_BG.png', sizingMethod='crop');
	
}

.tip2_st4BG {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/tip/tip2_st4_BG.png', sizingMethod='crop');
	
}*/
.tip2_st1BG {
background-image:url(../images/tip/tip2_st1_BG.gif); 
background-position:center top; 
background-repeat:no-repeat;
}

.tip2_st2BG {
background-image:url(../images/tip/tip2_st2_BG.gif); 
background-position:center top; 
background-repeat:no-repeat;
}

.tip2_st3BG {
background-image:url(../images/tip/tip2_st3_BG.gif); 
background-position:center top; 
background-repeat:no-repeat;
}


.tip2_st4BG {
background-image:url(../images/tip/tip2_st4_BG.gif); 
background-position:center top; 
background-repeat:no-repeat;
}